Client/BlackJackClient/Service References/BlackJackService/BlackJackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlackJackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBlackJackService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFBlackJackService.GameEngine" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFBlackJackService.GameEngine.CardGameFramework" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlackJackService_Hit_InputMessage">
    <wsdl:part name="parameters" element="tns:Hit" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_Deal_InputMessage">
    <wsdl:part name="parameters" element="tns:Deal" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_Stand_InputMessage">
    <wsdl:part name="parameters" element="tns:Stand" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_WantsToPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:WantsToPlay" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_PlayerRecievedCards_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerRecievedCards" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_PlayerDeal_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerDeal" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_PlayerStand_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerStand" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_PlayerJoin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerJoin" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_PlayerList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerList" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_PlayerLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerLeave" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_PlayerJoinsSession_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerJoinsSession" />
  </wsdl:message>
  <wsdl:message name="IBlackJackService_PlayerStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerStatus" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IBlackJackService">
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Hit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackJackService/Hit" message="tns:IBlackJackService_Hit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Deal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackJackService/Deal" message="tns:IBlackJackService_Deal_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Stand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackJackService/Stand" message="tns:IBlackJackService_Stand_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackJackService/Join" message="tns:IBlackJackService_Join_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackJackService/Leave" message="tns:IBlackJackService_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="WantsToPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackJackService/WantsToPlay" message="tns:IBlackJackService_WantsToPlay_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerRecievedCards">
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackJackService/PlayerRecievedCards" message="tns:IBlackJackService_PlayerRecievedCards_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerDeal">
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackJackService/PlayerDeal" message="tns:IBlackJackService_PlayerDeal_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerStand">
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackJackService/PlayerStand" message="tns:IBlackJackService_PlayerStand_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerJoin">
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackJackService/PlayerJoin" message="tns:IBlackJackService_PlayerJoin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerList">
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackJackService/PlayerList" message="tns:IBlackJackService_PlayerList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackJackService/PlayerLeave" message="tns:IBlackJackService_PlayerLeave_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerJoinsSession">
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackJackService/PlayerJoinsSession" message="tns:IBlackJackService_PlayerJoinsSession_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerStatus">
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackJackService/PlayerStatus" message="tns:IBlackJackService_PlayerStatus_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBlackJackService" type="tns:IBlackJackService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBlackJackService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Hit">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/Hit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Deal">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/Deal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Stand">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/Stand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="WantsToPlay">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/WantsToPlay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PlayerRecievedCards">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/PlayerRecievedCards" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerDeal">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/PlayerDeal" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerStand">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/PlayerStand" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerJoin">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/PlayerJoin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerList">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/PlayerList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerLeave">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/PlayerLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerJoinsSession">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/PlayerJoinsSession" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerStatus">
      <soap12:operation soapAction="http://tempuri.org/IBlackJackService/PlayerStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlackJackService">
    <wsdl:port name="NetTcpBinding_IBlackJackService" binding="tns:NetTcpBinding_IBlackJackService">
      <soap12:address location="net.tcp://localhost:8081/BlackJack" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/BlackJack</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>NEUROMANCER\Vladimir</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>