Client/BlackJackClient/Service References/BlackJackService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFBlackJackService.GameEngine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFBlackJackService.GameEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFBlackJackService.GameEngine.CardGameFramework" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCredit" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bet" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFBlackJackService.GameEngine.CardGameFramework" minOccurs="0" name="Hand" nillable="true" type="q1:BlackJackHand" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
</xs:schema>